body {
    font-family: Source Sans Pro;
    font-size:14pt;
    background-color: #ffffff;
}

h1 {
    font-size:22pt;
}

a {
    font-size:18pt;
    text-decoration: underline;
}

img.logo {
    height:100px;
    
}


.content {
    background-color: #eeeeee;
}


.content .container .entry-content {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #555555;
}

.content .container .entry-content ul li {
    list-style: none;
}
