body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14pt;
    background-color: #ffffff;
    color:#555555;
}

h1 {
    font-size:22pt;
}

a {
    font-size:18pt;
    text-decoration: underline;
    color: #2979bc;
}

img.logo {
    height:100px;

}

.btn, .form-control {
    font-size:14pt;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-primary {
    background-color: #2979bc;
    border-color: #2979bc;
}






.content {
    background-color: #eeeeee;
}


.content .container .entry-content {
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid #555555;
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
}

.content .container .last {
    border-bottom: 1px solid #555555;
}

.content .container .entry-content ul li {
    list-style: none;
}

